<div     class="FondoPrincipal">
  <img  style="width: 100%;height: 100%;" src="../../assets/telephone-586266.jpg">
</div>


<div     class="FondoSecundario2">

</div>


<div     class="FondoSecundario3">
  <div style="text-align: center; padding-left: 4%;padding-top: 4%"   >
  <input style="font-size: 1.5em;width: 40%" type="text" placeholder="Nombre">

  <input style="font-size: 1.5em;" type="number;width: 40%" placeholder="Teléfono">
  </div>
  <div style="text-align: center; padding-left: 4%;padding-top: 4%"   >
    <input style="font-size: 1.5em;width: 86%" type="email" placeholder="Correo">
  </div>
  <div style="text-align: center; padding-left: 4%;padding-top: 4%;height: 25%"   >
  <textarea style="font-size: 1.7em;width: 86%;height: 100%" placeholder="Mensaje" ></textarea>
   </div>

  <div style="text-align: center; padding-left: 4%;padding-top: 4%"   >
    <input style="font-size: 1.5em;width: 25%; background: limegreen" type="submit" placeholder="Correo">
  </div>

</div>


