
  <div class="container">

    <div     class="MenuPrincipal">
      <!--Google -Fonts-->
      <link href='https://fonts.googleapis.com/css?family=Sintony:400,700&subset=latin-ext' rel='stylesheet' type='text/css'>

      <!--Font-awsome-->
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="xs-menu-cont" >
        <a id="menutoggle"  (click)="menu()"  ><i class="fa fa-align-justify"></i> </a>
        <nav class="xs-menu displaynone" >
          <ul  >
            <li   >
              <a routerLink="/home">Home</a>
            </li>
            <li  >
              <a href="#">Services</a>
            </li>
            <li >
              <a routerLink="/team">Team</a>
            </li>
              <li  >
              <a href="#">Blog</a>
            </li>
            <li  >
              <a routerLink="/contact">Contact</a>
            </li>

          </ul>
        </nav>
      </div>
      <nav class="menu">
        <ul>
          <li class="active">
            <a routerLink="/home">Home</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a routerLink="/team">Team</a>
          </li>
          <li>
            <a href="#">Blog</a>

          </li>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>


        </ul>
      </nav>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    </div>


  <div     class="BarraAnimacion">
    .
  </div>
  <div     class="BarraAnimacionFondo">
    .
  </div>
  <div   class="letraJ" >
  <h1> J</h1>
  </div>
  <div   class="letraD" >
    <h1> D</h1>
  </div>
  <div   class="development" >
    <h1> DEVELOPMENTS</h1>
  </div>
  <div class="logoEstatico">
    <div   class="letraJ1" >
      <h1> J</h1>
    </div>
    <div   class="letraD1" >
      <h1> D</h1>
    </div>
    <div   class="development1" >
      <h1> DEVELOPMENTS</h1>
    </div>
    <div class="LogoSuperior">
      <img id="rotating" style="width: 90%"  src="../../assets/31188-200.svg">
    </div>
    <div class="LogoSuperior2">
      <img id="rotating2" style="width: 20%"  src="http://www.vitorazevedo.net/external_files/loading_small.png">
    </div>

  </div>
  <div class="lineaCreciente"> </div>

  </div>

  <router-outlet></router-outlet>





