<div>
  <b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b>
</div>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>


<div     class="FondoSecundario2">

  <div style="text-align: center;margin-top: -20%" height="90%" width="80%" >
    <object >
      <embed src="../../assets/100.svg" width="100%" height="100%" >
    </object>

  </div>
  <h2 style="color: White;text-align: center;z-index: 3;">Diseño y animaciones que se ajusten a sus nesecidades para darle un aspecto único a tu pagina web  </h2>

</div>




<div id="background-wrap">
  <div class="bubble x1" ><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" ></div>
  <div class="bubble x2"><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" ></div>
  <div class="bubble x3"><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" ></div>
  <div class="bubble x4"><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" ></div>
  <div class="bubble x5"><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" ></div>
  <div class="bubble x6"><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" ></div>
  <div class="bubble x7"><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" ></div>
  <div class="bubble x8"><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" ></div>
  <div class="bubble x9"><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" ></div>
  <div class="bubble x10"><img  src="../../assets/4.svg"   style="position:absolute;top:25%;left: 25%;" width="50%" height="50%" > </div>
</div>
