<div     class="FondoPrincipal">
  <img  style="width: 100%;height: 100%;" src="../../assets/FondoPrincipal.jpg">
</div>
<div     class="FondoSecundario">

  <h1 style="color: White;text-align: center;z-index: 2">Servicios</h1>
  <ul style="color: White;z-index: 2;list-style-type: none;float: left">
    <li  class="liImage" routerLink="/web"   ><img  src="../../assets/1.svg"  width="100" height="100"><a style="position: inherit;float: left;font-size: 16pt;" >Paginas Web</a></li>
    <li class="liImage" routerLink="/mobil"   ><img  src="../../assets/1.svg"   width="100" height="100"><a  style="position: inherit;float: left;font-size: 16pt;" >Aplicaciones móviles</a></li>
    <li class="liImage" routerLink="/design"     ><img  src="../../assets/1.svg"  width="100" height="100"><a style="position: inherit;float: left;font-size: 16pt;" >Diseño</a></li>

  </ul>


</div>


<div     class="FondoSecundario2">
  <h1 style="color: White;text-align: center;z-index: 3;font-size: 25pt">DESARROLLO A LA MEDIDA DE PAGINAS WEB Y APP MOVILES  </h1>
  <h2 style="color: White;text-align: center;z-index: 3;">Soluciones agiles y a la medida para garantizar que las especificaciones solicitadas sean cumplidas sin novedad.  </h2>
  <h2 style="color: White;text-align: center;z-index: 3;">Nuestra prioridad es garantizar un desarrollo que cumple sus expectativas y para eso tenemos conocimientos en las herramientas y lenguajes necesarios para brindarle las mejores soluciones.  </h2>
</div>

