/* https://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*GridLines*/


.clouds{
  position: absolute;
  opacity: .5;
  z-index: 99;
  width: 100%;
  height: 45vh;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/344206/clouds.png');
  background-size: contain;
  background-repeat: repeat-x;
  animation: panbg 30s linear infinite;
  -webkit-animation: panbg 30s linear infinite;
  pointer-events: none;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
}

.clouds.zoom{
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  opacity: 0;
}



@keyframes panbg{
  0%{
    background-position: 0% -100px;
  }
  100%{
    background-position: 100% -100px;
  }
}
@-webkit-keyframes panbg{
  0%{
    background-position: 0% -100px;
  }
  100%{
    background-position: 100% -100px;
  }
}
.FondoPrincipal{
  position: absolute;
  width: 100%;
  text-align: right;
  background: black;
  height: 100%;
}

.switchbutton{
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 99;
  left: 80%;
  top: calc(50vh - 100px);
  cursor: pointer;
  opacity: 1;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/344206/switch-trans.png');
  background-size: contain;
}
.switchbutton:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.switchbutton.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(4);
  -webkit-transform: scale(4);
  -ms-transform: scale(4);
}

.switchbutton{
  color: white;
  text-align: center;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* desde aca animacion de las letras */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);

.line {
  background: #999;
  height: 2px;
  width: 200%;
  position: absolute;
  top: 50%;
  left: 60%;
  animation: line-length 1s linear 0.5s forwards;
}

.center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  animation: move 1s linear forwards;
}

.inner {
  width: 80%;
  margin: auto;
  left:30%;
  color: aliceblue;
}

h1,
h2,
h3 {
  display: inline-block;
  font-weight: 100;
}

h1 {
  letter-spacing: 2px;
  margin: 0;
  font-size: 48px;
  text-shadow: 0 0 1px #000;
}

h2 {
  margin: 0;
  letter-spacing: 2px;
  margin-left: 8px;
  color: #78100B;
  text-shadow: 0 0 2px #78100B;
}

h3 {
  vertical-align: super;
  margin: 0;
  font-size: 16px;
  text-shadow: 0 0 2px #000;
}
/*animation*/

#i1 {}

#i2 {
  transform: scale(-1, 1);
  opacity: 0;
  animation: show_text 1s linear 1.7s forwards, spin 0.1s linear 3.5s forwards;
}

#i3 {
  opacity: 0;
  animation: show_text 1s linear 2s forwards;
}

#i4 {
  opacity: 0;
  animation: show_text 1s linear 2.5s forwards;
}
/*---------------------------------------------------*/
/*Keyframes*/

@keyframes move {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes spin {
  from {
    transform: scale(-1, 1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes line-length {
  from {
    width: 200%;
  }
  to {
    width: 0;
  }
}

@keyframes show_text {
  from {
    z-index: -9999;
    opacity: 0;
  }
  to {
    z-index: 1;
    opacity: 1;
  }
}
