<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="opacityfade"><div class="clouds"></div></div>
<div     class="FondoPrincipal">
  <img  style="width: 100%;height: 100%;" src="../../assets/landscape-615429.jpg">

</div>

<div class="center">
  <div class="inner">
    <h1 id="i1">Paginas web con diseño unico</h1>
    <br>
    <h1 id="i3">rápidas y</h1>
    <br>
    <h1 id="i2">eficientes</h1>
    <br>
    <div id="i4">
      <h3>Por</h3>
      <h2>JYD Developments</h2></div>
  </div>
  <div class="line"></div>
</div>



